body {
    background: #051D3B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

header {
    width: 100%;
    
}

h1 img {
    width: 145px;  /*consertar no ps*/
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    margin: 0 auto;
    padding: 32px 0;
}

.usuario {
    display: flex;
    align-items: center;
    color: #fff;
}

#foto_perfil {
    width: 36px;
    margin: 0 8px 0 0;    
}

.campoPesquisa {
    background-color: #2D415B;
    padding: 18px 10px;
    text-align: left;
    width: 97%;
    border: none;
    border-radius: 8px;
    color: #B3BAC4;
}

input::placeholder {
    color: #B3BAC4;
}

.pesquisa {
    width: 50%;
}


main {
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
}

aside {
    width: 20%;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}

.botoes_nav {
    flex-flow: column wrap;
    margin: 4% 0 0 0;
}

.botao_nav_esquerda {
    display: flex;
    margin: 3% 0 3% 0;
    align-items: center;
    opacity: 0.16;
}

.botao_nav_esquerda:hover {
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}

.botao_nav_esquerda p {
    margin: 0 0 0 5%;
    color: #fff;
}


.botao_nav_esquerda_separado {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background-color: #5081FB;
    border: none;
    font-weight: 999;
}

a {
    text-decoration: none;
}

menu {
    width: 20%;
}

.form_projeto_nome-descricao {
    display: flex;
    flex-direction: column;
    margin: 3% 0 10% 0;
}

.form_projeto_linguagem-cor {
    display: flex;
    flex-direction: column;
    margin: 3% 0 10% 0;
}

.nome_projeto, .descricao_projeto {
    background-color: #2D415B;
    padding: 18px 10px;
    width: 94%;
    border: none;
    border-radius: 8px;
    color: #B3BAC4;
    margin: 0 0 4% 0;
}

.linguagem {
    background-color: #2D415B;
    padding: 18px 10px;
    border: none;
    border-radius: 8px;
    color: #B3BAC4;
    margin: 0 0 4% 0;
}

.cor {
    background-color: #051D3B;
    border: 1px solid #fff;
    border-radius: 8px;
    width: 100%;
    height: 56px;
    padding: 1% 2%;
}
