body {
    background: #051D3B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

header {
    width: 100%;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    margin: 32px auto;
}

.usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.usuario img {
    margin: 0 8px 0 0;
}

h1 img {
    width: 200px;  /*consertar no ps*/
}

#foto_perfil {
    width: 36px;    
}

.campoPesquisa {
    background-color: #2D415B;
    padding: 18px 10px;
    text-align: left;
    width: 97%;
    border: none;
    border-radius: 8px;
    color: #B3BAC4;
}

input::placeholder {
    color: #B3BAC4;
}

.pesquisa {
    width: 50%;
}
