body {
    background: #051D3B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

header {
    width: 96%;
    margin: 0 auto;
    
}

h1 img {
    width: 145px;  /*consertar no ps*/
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 32px auto;
}

.logo_aluradev {
    width: 20%;
    display: flex;
    align-items: center;
}

.campoPesquisa {
    background-color: #2D415B;
    padding: 18px 10px;
    text-align: left;
    width: 97.5%;
    border: none;
    border-radius: 8px;
    color: #B3BAC4;
}

.pesquisa {
    width: 50%;
}

.usuario {
    display: flex;
    width: 20%;
    justify-content: flex-end;
}

.flex_usuario {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 5% 0 0;
}

#foto_perfil {
    width: 36px;
    margin: 0 8px 0 0;    
}

input::placeholder {
    color: #B3BAC4;
}

textarea::placeholder {
    color: #fff;
}


main {
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
}

aside {
    width: 20%;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}

.botoes_nav {
    flex-flow: column wrap;
    margin: 4% 0 0 0;
}

.botao_nav_esquerda {
    display: flex;
    margin: 3% 0 3% 0;
    align-items: center;
    opacity: 0.16;
}

.botao_nav_esquerda:hover {
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}

.botao_nav_esquerda p {
    margin: 0 0 0 5%;
    color: #fff;
}


.botao_nav_esquerda_separado {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background-color: #5081FB;
    border: none;
    font-weight: 999;
}

a {
    text-decoration: none;
}

section {
    width: 48.5%;
}

.code {
    width: calc(100% - 1.5rem);
    height: calc(100% - 3rem);
    background-color: #000000;
    border: none;
    color: #fff;
    border-radius: 8px;
    padding: 0 10px;
    margin: 0 auto;

}

.bolinhas {
    padding: 1rem;
}

.editor_codigo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 32px solid;
    border-color: #6BD1FF;
    border-radius: 8px;
    background: #000000; 
    height: 65%;
}

.highlight {
    width: 100%;
    margin: 5% 0;
    padding: 18px 10px;
    border-radius: 8px;
    border: none;
    background-color: #5081FB;
    color: #000;
    opacity: 0.2;
}

.highlight:hover {
    opacity: 1;
    transition: 1s;
    cursor: pointer;
    box-shadow: 5px 5px 10px #021022;
}

menu {
    width: 20%;
}

/*.form_projeto_nome-descricao {
    display: flex;
    flex-direction: column;
    margin: 3% 0 10% 0;
}

.form_projeto_linguagem-cor {
    display: flex;
    flex-direction: column;
    margin: 3% 0 10% 0;
}*/

.form_projeto {
    display: flex;
    flex-direction: column;
}

.form_projeto h2 {
    margin: 0 0 3% 0;
}

.form_projeto h2.h2next {
    margin: 6% 0 3% 0;
}

.nome_projeto {
    background-color: #2D415B;
    padding: 18px 10px;
    width: 94%;
    border: none;
    border-radius: 8px;
    color: #B3BAC4;
    margin: 0 0 4% 0;
}

.descricao_projeto {
    background-color: #2D415B;
    padding: 18px 10px;
    width: 94%;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    margin: 0 0 4% 0;
    font-family: 'Inter', sans-serif;


}

.linguagem {
    background-color: #2D415B;
    padding: 18px 10px;
    border: none;
    border-radius: 8px;
    color: #B3BAC4;
    margin: 0 0 4% 0;
}

.cor {
    background-color: #051D3B;
    border: 1px solid #fff;
    border-radius: 8px;
    width: 100%;
    height: 56px;
    padding: 1% 2%;
}

.enviar-projeto {
    background-color: #5081FB;
    padding: 18px 10px;
    border: none;
    border-radius: 8px;
    margin: 10% 0 0 0;
}

.enviar-projeto:hover {
    background-color: #234ebb;
    color: #fff;
    box-shadow: 5px 5px 10px #021022;
    transition: 1s;
    cursor: pointer;
}
