body {
    background: #051D3B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

header {
    width: 100%;
}

div.box {
    position: relative;
    width: 96%;
    margin: 32px auto;
}

nav {
    display: inline;
}

.usuario {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 2.5%;
}

.usuario p {
    display: inline-block;
    color: #fff;
    vertical-align: 75%;
}

.logo_plataforma {
    display: inline;  
    left: 0;
}

h1 img {
    display: inline-block;
    width: 10%; 
}

#foto_perfil {
    display: inline-block;
    width: 36px;    
}

.campoPesquisa {
    display: inline-block;
    background-color: #2D415B;
    padding: 18px 10px;
    text-align: left;
    width: 50%;
    border: none;
    border-radius: 8px;
}

input::placeholder {
    color: #B3BAC4;
}

.pesquisa {
    position: fixed;
    top: 25px;
    text-align: center;
    width: 100%;
}
